# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
.env
.DS_Store
.start.pid
.port.tmp
public
node_modules/*
.tmuxp.*
package-lock.json
lambda/node_modules/*
lambda/package-lock.json
lambda/readCrimeApplications/node_modules/*
lambda/readCrimeApplications/package-lock.json
lambda/writeCrimeApplications/node_modules/*
lambda/writeCrimeApplications/package-lock.json
